cmake-build-debug

# User-specific stuff
.idea/**/workspace.xml
.idea/editor.xml
.idea/vcs.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf


cmake-build-release/

cmake-build-debug-coverage/
cmake-build-asan/

build/

CMakeUserPresets.json

.cache/
cache/

cmake-build-debug-clang/

includes/mgp_sv/

cmake-build-debug-coverage-1/

cmake-build-release-clang/

cmake-build-relwithdebinfo/

cmake-build-relwithdebinfo-clang/
