{
    "general":{
        "project_name":"{{app_name}}",
        "target_part":"xc7z020clg400",
	    "synth_modules":[],
        "synth_tl": "{{app_name}}",
        "sim_modules":[],
        "sim_tl":"{{app_name}}_tb",
        "include_paths":[
            "Components/Common"
        ]
    },
    "scripts":[
        {
            "name":"set_properties.tcl",
            "type": "tcl",
            "arguments":[]
        },
        {
            "name":"zynqAxiStreamBd.tcl",
            "type": "tcl",
            "arguments":[]
        }
    ],
    "excluded_modules":[
       "PS_AXI_stream"
    ],
    "constraints": [
        "{{app_name}}.xdc"
    ]
}