# Copyright 2021 University of Nottingham Ningbo China
# Author: Filippo Savi <filssavi@gmail.com>
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{{base_dir}}
{{commons_dir}}

set target_part {{target_part}}
set target_module {{target_module}}

set vlog_synth_sources [list {% for source in vlog_synth_sources %}{{source}} {% endfor %}]
set vhdl_synth_sources [list {% for source in vhdl_synth_sources %}{{source}} {% endfor %}]

set constraints_sources [list {% for source in constraints_sources %}{{source}} {% endfor %}]

set outputDir $base_dir/build
file mkdir $outputDir


read_verilog $vlog_synth_sources
read_vhdl $vhdl_synth_sources
read_xdc $constraints_sources


synth_design -top $target_module -part $target_part -flatten rebuilt
write_checkpoint -force $outputDir/post_synth
# report_timing_summary -file $outputDir/post_synth_timing_summary.rpt
# report_power -file $outputDir/post_synth_power.rpt


opt_design
power_opt_design
place_design
phys_opt_design
write_checkpoint -force $outputDir/post_place
# report_timing_summary -file $outputDir/post_place_timing_summary.rpt


route_design
write_checkpoint -force $outputDir/post_route
# report_timing_summary -file $outputDir/post_route_timing_summary.rpt
# report_timing -sort_by group -max_paths 100 -path_type summary -file $output-Dir/post_route_timing.rpt
# report_clock_utilization -file $outputDir/clock_util.rpt
# report_utilization -file $outputDir/post_route_util.rpt
# report_power -file $outputDir/post_route_power.rpt
# report_drc -file $outputDir/post_imp_drc.rpt
write_verilog -force $outputDir/bft_impl_netlist.v
write_xdc -no_fixed_only -force $outputDir/bft_impl.xdc

write_bitstream -force $outputDir/bft.bit