# Copyright 2021 University of Nottingham Ningbo China
# Author: Filippo Savi <filssavi@gmail.com>
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

set project_name "{{name}}_lscc"
set origin_dir "."


file delete -force $project_name
file mkdir $project_name
cd $project_name

{# DEFINE SIM AND SYNTH SOURCES #}
{{base_dir}}

set synth_sources [list {% for source in synth_sources %}{{source}} {% endfor %}]

set sim_sources [list {% for source in sim_sources %}{{source}} {% endfor %}]


prj_create -name $project_name -impl "build" -dev iCE40UP5K-SG48I -performance "High-Performance_1.2V" -synthesis "LSE"

prj_set_strategy_value -strategy Strategy1 {syn_vlog_input=System Verilog}
prj_set_strategy_value -strategy Strategy1 syn_frequency=80

foreach i $synth_sources {
    prj_add_source -include {$include_dirs} $i
}

prj_save

prj_close